<div class="navigation-wrapper">
	<nav role="navigation" id="site-nav" class="animated drop">
	    <ul>
				{% for link in site.data.navigation %}
				{% if link.url contains 'http' %}
				{% assign domain = '' %}
				{% else %}
				{% assign domain = site.url %}
				{% endif %}
				<li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
				{% endfor %}
	        {% if site.rss %}<li><a href="{{ site.baseurl }}/feed.xml" title="Atom/RSS feed"><i class="icon-rss"></i> </a></li>{% endif %}
	        {% if site.gsearch %}
					<li>
					<a href="{{ site.baseurl }}/search.html" ><i class="icon-search"></i> Search</a>
				</li>
					{% endif %}
	    </ul>
	</nav>
</div><!-- /.navigation-wrapper -->

{% include browser-upgrade.html %}

{% if site.search %}<div class="search-wrapper">
	<div class="search-form">
		<input type="text" class="search-field" placeholder="Search...">
		<i class="icon-remove-sign icon-2x"></i>
		<ul class="search-results post-list"></ul><!-- /.search-results -->
	</div><!-- /.search-form -->
</div><!-- ./search-wrapper -->{% endif %}

{% if page.image.feature %}<header class="masthead">
	{% if site.logo != null %}
		<div class="wrap">
			{% if page.title == "Welcome &#8211; Haddon Community Learning Centre" %}
			<a href="{{ site.baseurl }}/" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.baseurl }}/images/{{ site.logo }}" width="200" height="200" alt="{{ site.title }} logo" class="animated bounceInDown"></a>
			{% else %}
			<a href="{{ site.baseurl }}/" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.baseurl }}/images/{{ site.logo }}" width="100" height="100" alt="{{ site.title }} logo" class="animated bounceInDown"></a>
			{% endif %}
		</div>
	{% endif %}
</header><!-- /.masthead -->
{% else %}
<header class="masthead">
	<div class="wrap">
        {% if site.logo %}
				{% if page.title == "Welcome" %}
				<a href="{{ site.baseurl }}/" class="site-logo" rel="home" title="{{ site.title }}">
					<img class="animated bounceInDown float-left logo-only" src="{{ site.baseurl }}/images/{{ site.logo }}" alt="{{ site.title }} logo">
					</a>
				{% else %}
				<div class="site-logo-container">
				<a href="{{ site.baseurl }}/" class="site-logo" rel="home" title="{{ site.title }}">
					<img class="animated bounceInDown float-left" src="{{ site.baseurl }}/images/{{ site.logo }}" alt="{{ site.title }} logo">
					<h1 class="site-title animated fadeIn entry-title float-left"><a href="{{ site.baseurl }}/">{{ page.title }}</a></h1>
					</a>
				</div>
				{% endif %}
				{% else %}
				<h1 class="site-title animated fadeIn"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
				{% endif %}
		<h2 class="site-description animated fadeIn" itemprop="description">{{ site.description }}</h2>
	</div>
</header><!-- /.masthead -->{% endif %}
