<ul id="slippry">
  {% if page.slide1_image %}
  <li>
    <a href="#slide1"><img src="{{ site.baseurl }}/assets/img/{{ page.slide1_image }}" alt="{{ page.slide1_comment }}"></a>
  </li>
  {% endif %}
  {% if page.slide2_image %}
  <li>
    <a href="#slide2"><img src="{{ site.baseurl }}/assets/img/{{ page.slide2_image }}"  alt="{{ page.slide2_comment }}"></a>
  </li>
  {% endif %}
  {% if page.slide3_image %}
  <li>
    <a href="#slide3"><img src="{{ site.baseurl }}/assets/img/{{ page.slide3_image }}" alt="{{ page.slide3_comment }}"></a>
  </li>
  {% endif %}
  {% if page.slide4_image %}
  <li>
    <a href="#slide4"><img src="{{ site.baseurl }}/assets/img/{{ page.slide4_image }}" alt="{{ page.slide4_comment }}"></a>
  </li>
  {% endif %}
  {% if page.slide5_image %}
  <li>
    <a href="#slide5"><img src="{{ site.baseurl }}/assets/img/{{ page.slide5_image }}" alt="{{ page.slide5_comment }}"></a>
  </li>
  {% endif %}
  {% if page.slide6_image %}
  <li>
    <a href="#slide6"><img src="{{ site.baseurl }}/assets/img/{{ page.slide6_image }}" alt="{{ page.slide6_comment }}"></a>
  </li>
  {% endif %}
  {% if page.slide7_image %}
  <li>
    <a href="#slide7"><img src="{{ site.baseurl }}/assets/img/{{ page.slide7_image }}" alt="{{ page.slide7_comment }}"></a>
  </li>
  {% endif %}
  {% if page.slide8_image %}
  <li>
    <a href="#slide8"><img src="{{ site.baseurl }}/assets/img/{{ page.slide8_image }}" alt="{{ page.slide8_comment }}"></a>
  </li>
  {% endif %}
  {% if page.slide9_image %}
  <li>
    <a href="#slide9"><img src="{{ site.baseurl }}/assets/img/{{ page.slide9_image }}" alt="{{ page.slide9_comment }}"></a>
  </li>
  {% endif %}
  {% if page.slide10_image %}
  <li>
    <a href="#slide10"><img src="{{ site.baseurl }}/assets/img/{{ page.slide10_image }}" alt="{{ page.slide10_comment }}"></a>
  </li>
  {% endif %}
  {% if page.slide11_image %}
  <li>
    <a href="#slide11"><img src="{{ site.baseurl }}/assets/img/{{ page.slide11_image }}" alt="{{ page.slide11_comment }}"></a>
  </li>
  {% endif %}
  {% if page.slide12_image %}
  <li>
    <a href="#slide12"><img src="{{ site.baseurl }}/assets/img/{{ page.slide12_image }}" alt="{{ page.slide12_comment }}"></a>
  </li>
  {% endif %}
  {% if page.slide13_image %}
  <li>
    <a href="#slide13"><img src="{{ site.baseurl }}/assets/img/{{ page.slide13_image }}" alt="{{ page.slide13_comment }}"></a>
  </li>
  {% endif %}
  {% if page.slide14_image %}
  <li>
    <a href="#slide14"><img src="{{ site.baseurl }}/assets/img/{{ page.slide14_image }}" alt="{{ page.slide14_comment }}"></a>
  </li>
  {% endif %}
  {% if page.slide15_image %}
  <li>
    <a href="#slide15"><img src="{{ site.baseurl }}/assets/img/{{ page.slide15_image }}" alt="{{ page.slide15_comment }}"></a>
  </li>
  {% endif %}
  {% if page.slide16_image %}
  <li>
    <a href="#slide16"><img src="{{ site.baseurl }}/assets/img/{{ page.slide16_image }}" alt="{{ page.slide16_comment }}"></a>
  </li>
  {% endif %}
  {% if page.slide17_image %}
  <li>
    <a href="#slide17"><img src="{{ site.baseurl }}/assets/img/{{ page.slide17_image }}" alt="{{ page.slide17_comment }}"></a>
  </li>
  {% endif %}
  {% if page.slide18_image %}
  <li>
    <a href="#slide18"><img src="{{ site.baseurl }}/assets/img/{{ page.slide18_image }}" alt="{{ page.slide18_comment }}"></a>
  </li>
  {% endif %}
  {% if page.slide19_image %}
  <li>
    <a href="#slide19"><img src="{{ site.baseurl }}/assets/img/{{ page.slide19_image }}" alt="{{ page.slide19_comment }}"></a>
  </li>
  {% endif %}
  {% if page.slide20_image %}
  <li>
    <a href="#slide20"><img src="{{ site.baseurl }}/assets/img/{{ page.slide20_image }}" alt="{{ page.slide20_comment }}"></a>
  </li>
  {% endif %}
</ul>
<ul class="post-list">
  <li><button id="hide">Hide Gallery</button></li>
</ul>
